In [1]:
#####################################################################################################################
#Developed by Jonathan Ojeda 13/2/2021 QAAFI UQ
# Code functionalities:
# Read data from a xml., apsim., txt files etc.
# Get specif strings from rows of the dataframe
#####################################################################################################################

In [45]:
import pandas as pd
df = pd.read_csv(r'C:\Users\uqjojeda\Dropbox\CropPhen\XML\Lentil.XML', error_bad_lines=False)
a=df[df['<Type name="lentil">'].str.contains('cultivar="yes')]
a
#a.to_csv(r'C:\Users\uqjojeda\Dropbox\CropPhen\XML\df.csv')

b'Skipping line 7: expected 1 fields, saw 2\nSkipping line 144: expected 1 fields, saw 2\nSkipping line 189: expected 1 fields, saw 3\nSkipping line 199: expected 1 fields, saw 2\nSkipping line 231: expected 1 fields, saw 2\nSkipping line 293: expected 1 fields, saw 2\nSkipping line 315: expected 1 fields, saw 2\nSkipping line 354: expected 1 fields, saw 2\nSkipping line 356: expected 1 fields, saw 2\nSkipping line 362: expected 1 fields, saw 3\nSkipping line 363: expected 1 fields, saw 2\nSkipping line 364: expected 1 fields, saw 3\nSkipping line 378: expected 1 fields, saw 2\nSkipping line 382: expected 1 fields, saw 2\nSkipping line 389: expected 1 fields, saw 3\nSkipping line 401: expected 1 fields, saw 2\nSkipping line 402: expected 1 fields, saw 3\nSkipping line 403: expected 1 fields, saw 3\nSkipping line 449: expected 1 fields, saw 2\nSkipping line 523: expected 1 fields, saw 2\nSkipping line 527: expected 1 fields, saw 2\nSkipping line 530: expected 1 fields, saw 2\nSkipping line 537: expected 1 fields, saw 2\n'

                 <Type name="lentil">
537           <digger cultivar="yes">
559            <laird cultivar="yes">
580       <northfield cultivar="yes">
601          <ill6002 cultivar="yes">
622          <ill6109 cultivar="yes">
643      <nugget_base cultivar="yes">
664           <nugget cultivar="yes">
670             <bolt cultivar="yes">
675       <hallmarkxt cultivar="yes">
681            <blitz cultivar="yes">
686           <jumbo2 cultivar="yes">
691              <ace cultivar="yes">
697       <greenfield cultivar="yes">
706            <simal cultivar="yes">